body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(207,172,200,1) 15%, rgba(148,187,233,1) 100%);

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eceff4;
  margin: 75px 30px;
  border-radius: 27px;
  padding: 20px 80px;
}

.left-column {
  width: 50%;
  padding: 20px;
  
}

.left-column h1{
  color: #4f4f4f;
  font-size: 1.9em;
  font-weight: 700;
}
.left-column h6{
  color: #4f4f4f;
  font-size: 0.9em;
  font-weight: 500;
}
.right-column {
  width: 100%;
  padding: 20px;
  margin-left: 20%;
  background-color: transparent;
  border: none;
}

.right-column h2 {
  margin-bottom: 20px;
}

.right-column form label {
  display: block;
  margin-bottom: 5px;
}

.right-column form input {
  width: 80%;
  padding: 10px;
  margin-bottom: 28px;
  border: transparent;
  border-radius: 5px;
  height: 25px;
  background-color: #b7cff869;
}

.forgot-password {
    padding-right: 35px;
    display: block;
    text-align: right;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: x-small;
    font-weight: 700;
    color: #8a8a8a;
}

.sign-in-btn {
  width: 88%;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 28px;
  border: transparent;
  border-radius: 5px;
  height: 39px;
  margin-top: 15px;
}

.separator {
  margin: 40px 0;
  border-top: 1px solid #ccc;
}

.social-login {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  
}

.social-login button {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.google-btn {
  background-color: transparent;
  color: #8a8a8a;
  border: 1px solid #8a8a8a; 
}
.google-btn img{
 height: 20px;
 width: 20px;
 margin-right: 3px;
}
.facebook-btn {
  background-color: transparent;
  color: #8a8a8a;
  border: 1px solid #8a8a8a; 
}

.facebook-btn img{
  height: 20px;
  width: 20px;

 }