body {
  background-color: #000;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ponto{
  color: #FFBF00;
}
header h1 {
  margin: 0;
  font-size: 24px;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 0px 6%;
}
main h1{
  padding-right: 18%;
  font-size: 3.5em;
}
main p{
  padding-right: 37%;
  font-size: 1em;
  margin-top: 0%;
}
ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-right: 15px;
}

li {
  margin-right: 25px;
}

.coluna {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coluna img {
  max-width: 100%;
  height: auto;
}

.acao-button {
  background-color: #FFBF00;
  width: 29%;
  color: #332200;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-weight: 800;
  font-size: 0.8em;
}